 /* Doni Brysoni Mbaga */

/* colorPalette: #f0ece3, #dfd3c3, #c7b198, #596e79 */

body {
  background-color: #f0ece3;
}

.wrapper {
}

.playBox {
  background-color:  #dfd3c3;
  width: 60vw;
  height: 50vh;
  margin: 5em auto;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}

.board {
  background-color: #c7b198;
  width: inherit;
  height: 20%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board ul {
  color: #f0ece3;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ul li {
  display: flex;
  align-items: center;
}

li span {
  display: inline-block;
  width: 2em;
  height: 1.5em;
  background-color: #f0ece3;;
  border-radius: 0.2em;
  margin-left: 0.5em;
}

li img {
  cursor: pointer;
}

.words {
  background-color: inherit;
  width: inherit;
  height: 60%;
}

.inputArea {
  background-color: #c7b198;
  width: inherit;
  height: 20%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
